@import "../vars.css";

.BottomContent {
  display: flex;
  padding-inline: 165px;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.box {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(216, 216, 216, 0.2);
  width: 255px;
  padding-block: 20px 27px;
  padding-left: 23px;
}
