@import "../vars.css";

.mainsection {
  margin-top: 126px;
  display: flex;
  padding-right: 165px;
  color: var(--white);
  align-items: center;
  flex-basis: 100%;
  margin-bottom: 87px;
}

.imagecontainer {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagecontainer img:nth-child(2) {
  position: absolute;
  top: 78%;
  left: 50%;
  width: 163px;
  transform: translateX(-50%);
}

.imagecontainer img:nth-child(1),
.imagecontainer img:nth-child(2) {
  animation: fadeIn 500ms ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0; 
  }

  100% {
    opacity: 1;
  }
}

.maincontainer {
  max-width: 350px;
  justify-self: flex-end;
}

.descriptioncontainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.descriptioncontainer h1 {
  font-family: "Antonio";
  font-size: 80px;
  font-weight: 500;
  text-transform: uppercase;
}

.descriptioncontainer p {
  font-family: "League Spartan";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.source {
  display: flex;
  align-items: center;
}

.source span {
  opacity: 50%;
}

.source a {
  color: white;
  font-weight: 700;
  margin-right: 8px;
}

.choicecontainer {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.choicecontainer span {
  margin-right: 28px;
  opacity: 50%;
}

.Mercury:active,
.Mercury:focus {
  background: var(--Mercury);
}

.Mercury.active {
  background: var(--Mercury);
}

.Venus:active,
.Venus:focus {
  background: var(--Venus);
}

.Venus.active {
  background: var(--Venus);
}

.Earth:active,
.Earth:focus {
  background: var(--Earth);
}

.Earth.active {
  background: var(--Earth);
}
.Mars:active,
.Mars:focus {
  background: var(--Mars);
}

.Mars.active {
  background: var(--Mars);
}
.Jupiter:active,
.Jupiter:focus {
  background: var(--Jupiter);
}

.Jupiter.active {
  background: var(--Jupiter);
}
.Saturn:active,
.Saturn:focus {
  background: var(--Saturn);
}

.Saturn.active {
  background: var(--Saturn);
}
.Uranus:active,
.Uranus:focus {
  background: var(--Uranus);
}

.Uranus.active {
  background: var(--Uranus);
}
.Neptune:active,
.Neptune:focus {
  background: var(--Neptune);
}

.Neptune.active {
  background: var(--Neptune);
}

@media (max-width: 1300px) {
  .mainsection {
    padding-right: 80px;
  }
}

@media (max-width: 1024px) {
  .mainsection {
    flex-direction: column;
    margin-top: 146px;
    padding-right: 0;
    margin-bottom: 27px;
    padding-inline: 40px;
  }

  .maincontainer {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
  }

  .descriptioncontainer {
    width: 339px;
  }

  .choicecontainer {
    width: 281px;
  }

  .descriptioncontainer h1 {
    font-size: 48px;
  }

  .descriptioncontainer p {
    font-size: 11px;
  }
  
  .source {
    font-size: 12px;
  }
}

@media (max-width: 720px) {
  .mainsection {
    margin-top: 0;
    padding-inline: 0;
  }

  .miniContainer {
    width: 100%;
    padding: 20px 24px;
    position: relative;
  }

  .miniContainer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }

  .miniContainer::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #979797;
    opacity: 20%;
  }

  .miniContainer ul li {
    text-transform: uppercase;
    cursor: pointer;
  }

  .Mercury.underline {
    position: relative;
  }

  .Mercury.underline::after {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--Mercury);
  }

  .Venus.underline {
    position: relative;
  }

  .Venus.underline::after {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--Venus);
  }

  .Mars.underline {
    position: relative;
  }

  .Mars.underline::after {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--Mars);
  }

  .Earth.underline {
    position: relative;
  }

  .Earth.underline::after {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--Earth);
  }

  .Jupiter.underline {
    position: relative;
  }

  .Jupiter.underline::after {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--Jupiter);
  }

  .Saturn.underline {
    position: relative;
  }

  .Saturn.underline::after {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--Saturn);
  }

  .Uranus.underline {
    position: relative;
  }

  .Uranus.underline::after {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--Uranus);
  }

  .Neptune.underline {
    position: relative;
  }

  .Neptune.underline::after {
    position: absolute;
    content: '';
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--Neptune);
  }

  .imagecontainer {
    margin-top: 95px;
  }

  .imagecontainer img:nth-child(1) {
    width: 173px;
  }

  .imagecontainer img:nth-child(2) {
    width: 105px;
  }

  .descriptioncontainer {
    height: 235px;
    justify-self: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-inline: 24px;
  }

}
