@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap");
@import "./vars.css";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 16px;
}

body {
  font-family: "Antonio", "League Spartan";
  min-height: 100vh;
  background: url("./assets/background-stars.svg");
  background-color: var(--black);
  max-width: 1440px;
  margin-inline: auto;
}
