:root {
  --Mercury: #419ebb;
  --Venus: #eda249;
  --Earth: #6f2ed6;
  --Mars: #d14c32;
  --Jupiter: #d83a34;
  --Saturn: #cd5120;
  --Uranus: #1ec2a4;
  --Neptune: #2d68f0;

  --white: #fff;
  --black: #070724;
  --dark-grey: #38384f;
  --light-grey: #838391;
}
